rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 로그인 사용자만 업로드/읽기
      allow read, write: if request.auth != null;
    }
  }
}
